*, ::before, ::after {
    box-sizing: border-box;
}

a {
    cursor: default;
}

body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/***** Scrollbar colour change *****/
::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #21D840;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1fb337;
}

/***** Navigation Bar things *****/
.main .navbar, .navbar .container {
    transition: all .3s ease;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #21D840 !important; /*Overiding JS*/
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, .9);
}

.navbar-light .navbar-nav .nav-link:not(.active):focus, .navbar-light .navbar-nav .nav-link:not(.active):hover {
    color: #16a22d !important; /*Overiding JS*/
}

.clickable {
    color: #fff;
    padding: 10px 40px;
    background-color: #21D840;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease;
}

.clickable:hover {
    color: #fff;
    filter: brightness(0.8);
}

/***** Main *****/
.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.point {
    height: 35vh;
}

.point .col-4 {
    padding: 0 6rem;
}

.point .desc {
    font-weight: 500;
}