*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.main {
    height: 100vh;
    background-image: url("img/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.main .navbar, .navbar .container {
    transition: all .3s ease;
}