*, *:before, *:after {
    box-sizing: border-box;
}

a {
    cursor: default;
}

body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/***** Scrollbar colour change *****/
::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #21D840;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1fb337;
}

/***** Navigation Bar things *****/
.main .navbar, .navbar .container {
    transition: all .3s ease;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #21D840 !important; /*Overiding JS*/
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, .9);
}

.navbar-light .navbar-nav .nav-link:not(.active):focus, .navbar-light .navbar-nav .nav-link:not(.active):hover {
    color: #16a22d !important; /*Overiding JS*/
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: inherit;
}

.clickable {
    color: #fff;
    padding: 10px 40px;
    background-color: #21D840;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease;
}

.clickable:hover {
    color: #fff;
    filter: brightness(0.8);
}

/***** Main *****/
.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.point {
    padding: 5rem 0;
}

.point .col-4 {
    padding: 0 6rem;
}

.point .title {
    color: #21D840;
}

.point .desc {
    font-weight: 500;
}

.box {
    min-height: 145px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 0.1);
}

/***** Recipe Form things *****/
.stepper {
    padding: 5rem 0;
}

.step:not(:first-child) {
    margin-top: 5rem; /* To give step > 1 a margin top */
}

.step-header {
    margin-bottom: 5rem;
}

.step-header .fs-1 {
    font-weight: bold;
}

.recipe-box input, .recipe-box select {
    width: 25rem;
    padding: 0.4rem 0.6rem;
    line-height: 1.5;
    color: #212529;
}

.seperator {
    display: flex;
    color: #21D840;
    margin: 4rem 0;
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
}

.seperator::before, .seperator::after {
    content: '';
    background-color: #21D840;
    flex: 0.4 auto;
    align-self: center;
    height: 2px;
}

.seperator::before {
    margin-right: 2rem;
}

.seperator::after {
    margin-left: 2rem;
}

.result-table {
    display: inline-block;
    border: 2px solid #21D840;
    border-radius: 10px;
    margin: 0 auto;
}

.result-body .data {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem 5rem;
}

.result-body .data:hover {
    background-color: rgb(0 0 0 / 0.1);
    filter: brightness(0.9);
    cursor: pointer;
}

.information-body .data {
    text-align: left;
    padding: 1rem 0;
    border-bottom: 2px dashed #21D840;
}

.information-body .data:first-child {
    padding-top: 0;
}

.information-body .list-instruction {
    margin: 2rem 0;
}

.list-instruction .box-instruction {
    position: relative;
    border: 2px solid #21D840;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 20px;
}

.list-instruction .step-instruction {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -1px;
    background-color: #21D840;
    border-radius: 0 0 5px 0;
    color: #fff;
    padding: 0 7px 0 5px;
    font-weight: 500;
}

.result-body, .information-body {
    max-height: 500px;
    max-width: 500px;
}

/***** Media Queries *****/
@media screen and (max-width: 576px) {
    .box {
        margin: 1rem auto;
        max-width: 320px;
    }

    .result-body .data {
        padding: 0 2rem;
    }
 
    
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1040px;
    }
}
